manifest {
    mainScript = 'main.nf'
}

// default parameters (default true)
params {
    input = '' //define input when starting workflow
    output = 'results' //generate result directory
    help = false // only true when --help 
    profile = false 
} 

// mit -profile ausführen
profiles {
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }
}