manifest {
    mainScript = 'main.nf'
}

docker {
    enabled = true
}

// default parameters (default true)

params {
    input = '' //input beim Start definieren, daher leer
    output = 'results' //generiert results ordner
    // cpus =
    help = false //damit nur true wenn help flag 
} 

process {
    withName:sourmash_signatures {
        container = 'nanozoo/sourmash:4.2.0--5f7b10b'
      }
}