manifest {
    mainScript = 'main.nf'
}

// default parameters (default true)
params {
	fast5 = '' // define fast5 files as input   
 	fastq = '' //define fastq as input
	fastq_pass = ''
    fasta = '' //define fasta as input
	mixed = '' //mixed fastq and fasta input 
	output = 'results' //generate result directory
	readsdir = "0.Fastq_reads"
	help = false // only true when --help 
	profile = false

// settings
	guppy_cpu = false
    guppy_model = 'dna_r9.4.1_450bps_hac.cfg'

} 

// mit -profile ausführen
profiles {
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }
}
