process {
	//Use label in processes where the docker is nessecery
	withLabel: abricate	 { container = 'nanozoo/abricate:1.0.1--8960147' }
	withLabel: flye      { container = 'nanozoo/flye:2.9--afefdeb' }
	withLabel: guppy_gpu { container = 'nanozoo/guppy_gpu:5.0.7-1--ec2c6e7' }
	withLabel: minimap2	 { container = 'nanozoo/minimap2:2.22--b178b67' }
	withLabel: racon     { container = 'nanozoo/racon:1.4.20--c4abc97' }
	withLabel: sourmash	 { container = 'nanozoo/sourmash:4.2.0--5f7b10b' }
	withLabel: spades    { container = 'nanozoo/spades:3.15.2--2a7d21c' }
	withLabel: unicycler { container = 'nanozoo/unicycler:0.4.9--bf93bac' }
	withLabel: ubuntu    { container = 'nanozoo/template:3.8--e13dfeb' }
}
