process.executor = 'local'

process {
    withLabel:  artic       { cpus = params.cores }
    withLabel:  guppy_gpu   { cpus = params.max_cores }
    withLabel:  minimap2    { cpus = params.cores }
    withLabel:  pycoqc      { cpus = params.cores }
    withLabel:  ggplot2     { cpus = 1 }
    withLabel:  prokka      { cpus = params.cores }
    withLabel:  python3     { cpus = 1 }
    withLabel:  sourmash    { cpus = 4 }
    withLabel:  ubuntu      { cpus = 1 } 
}